body {
	background-color: #DC143C;
  }

.main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
	align-items: center;
}

.sub-main {
	width: min(500px, 80%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.espantaperros {
	width: max(200px, 90%);
	filter: brightness(100%);
}

/* .espantaperros:hover {
	filter: brightness(120%);
	position: relative;
	left: 2px;
	top: 2px;
  } */

.estirado {
	margin-top: 20px;
	width:max(200px, 100%);
  }
